<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.setana.treenity">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>

    <application
        android:name=".TreenityApplication"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:allowBackup="false">

        <activity android:name=".ui.store.StoreActivity"
                  android:theme="@style/StoreTheme" />

        <activity android:name=".ui.map.MapActivity" />

        <activity android:name=".ui.ar.ArActivity"
            android:launchMode="singleTop"
            />

        <activity android:name=".ui.settings.SettingsActivity" />

        <activity android:name=".ui.mypage.MyPageActivity" />

        <activity android:name=".ui.purchase.PurchaseActivity" />

        <activity android:name=".ui.mytreelist.TreeListActivity" />

        <activity
            android:name=".ui.loading.LoadingActivity"
            android:exported="true"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TreenityForegroundService"/>

        <!--meta-data tag must be in application tag-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.ar.ANDROID_API_KEY"
            android:value="com.setana.treenity.BuildConfig.ANDROID_API_KEY"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

    </application>
</manifest>